* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);

}

main {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container {
    border-radius: 10px;
    height: auto;
    width: 20em;
    background-color: white;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    font-size: clamp(1rem, 0.929rem + 0.357vw, 1.5rem);
    
}

@media (min-width: 1024px) {
    .container {
        flex-direction: row;
        width: 30em;
    }

    picture {
        width: 50% !important; 
    }

    .main-img {
        height: 100% !important;
    }

    .text {
        width: 50%;
    }
}

.picture {
    
}

.main-img {
    max-inline-size: 100%;
    height: auto;
    object-fit: cover;
}

.text {
    padding: 1em;
}

.text .perfume, 
.text .description,
.text .prices .small-price {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: hsl(228, 12%, 48%);
    font-size: 0.9em;
}

.text .title,
.text .prices .big-price {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

.text .title {
    font-size: 2em;
    color: hsl(212, 21%, 14%);
    line-height: 1em;
    padding: 0.5em 0;
}


.prices {
    padding: 0.5em 0;
    display: flex;
    align-items: center;
}

.prices .big-price {
    font-size: 2.2em;
    margin-right: 0.5em;
    color: hsl(158, 36%, 37%);
}

.prices .small-price {
    text-decoration: line-through;
}

button {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    cursor: pointer;

    border: 0;
    border-radius: 10px;

    background-color: hsl(158, 36%, 37%);
    width: 100%;
    height: 3em;

    display: flex;
    justify-content: center;
    align-items: center;
}

button>img {
    margin-right: 0.3em;
}

button:active {
    background-color: hsl(158, 42%, 18%);
    
}