* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: hsl(30, 38%, 92%);

}

main {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1rem, 0.464rem + 1.429vw, 1.75rem);
}

.container {
    border-radius: 10px;
    max-height: 40em;
    width: 20em;
    max-height: 90%;
    background-color: white;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    
}

@media screen and (min-width: 1024px) {
    .container {
        flex-direction: row;
    }
    
    picture {
        flex: 0 0 50%;
    }

    .text {
        flex: 0 0 50%;
    }
}

img {
    max-inline-size: 100%;
    object-fit: cover;
}


.text {
    flex: 2;
    padding: 1em;
}

.text .perfume, 
.text .description,
.text .prices .small-price {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: hsl(228, 12%, 48%);
    font-size: 0.9rem;
}

.text .title,
.text .prices .big-price {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

.text .title {
    font-size: 2rem;
    color: hsl(212, 21%, 14%);
    line-height: 1em;
    padding: 0.5em 0;
}


.prices {
    padding: 0.5em 0;
    display: flex;
    align-items: center;
}

.prices .big-price {
    font-size: 2.2rem;
    margin-right: 0.5em;
    color: hsl(158, 36%, 37%);
}

.prices .small-price {
    text-decoration: line-through;
}

button {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-align: center;
    vertical-align: middle;

    border: 0;
    border-radius: 10px;

    background-color: hsl(158, 36%, 37%);
    width: 100%;
    height: 3em;
}

button:active {
    background-color: hsl(158, 42%, 18%);
    
}